[submodule "code/salt"]
	path = code/salt
	url = https://github.com/stellalie/salt-thingosity-states
[submodule "code/webnode"]
	path = code/webnode
	url = https://github.com/stellalie/iot_platform_web_node
